<div class="container">
  <div class="row">
    <div class="col-8 m-auto">
      <div class="shadow-lg rounded p-5">
        <h1 class="text-center">Dynamic Form</h1>
        <div class="row mb-5">
          <div class="col-12">
            <label for="formJson">Json</label>
            <textarea (change)="renderForm($event)" name="json" class="form-control bg-dark text-light" id="formJson" cols="30" rows="25">{{formJson}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-dynamic-form-builder [config]="config" (submitted)="submitedFormValue($event)"></app-dynamic-form-builder>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>